body {
    background-color: #1a120b !important;
    font-family: "Poppins", sans-serif !important;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e5e5cb !important;
    padding: 0 !important;
}
