body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d5cea3 !important;
    position: relative !important;
    font-family: "Poppins", sans-serif !important;
}

img {
    width: 70%;
}

.pesan-sukses {
    position: absolute;
    width: 550px;
    height: 40px !important;
    color: #e5e5cb !important;
    top: 10px;
    animation: notif 300ms ease-in;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

@keyframes notif {
    from {
        transform: translateY(-10px);
    }

    to {
        transform: translateY(0);
    }
}
